In [1]:
import re
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('date_parser_testcases.csv')
df

                                                Input Expected Output
0         The event will take place on March 5, 2023.      05/03/2023
1                      Her birthday is on 07/08/1990.      07/08/1990
2                         The deadline is 2022-12-31.      31/12/2022
3                      We met on 1st of January 2000.      01/01/2000
4   The concert is scheduled for 15th September, 2...      15/09/2021
..                                                ...             ...
95  We celebrate Independence Day on 2023-07-04, a...      04/07/2023
96  The final date for submission is 30th November...      30/11/2022
97  The annual conference is on 15th October 2023,...      15/10/2023
98  His birthdate, noted as 1990-05-20, is in the ...      20/05/1990
99  The festival will be celebrated on 12th August...      12/08/2024

[100 rows x 2 columns]

In [9]:
def date_extractor(text):
    text = text.lower()
    months = r'(january|february|march|april|may|june|july|august|september|october|november|december)'
    # Patterns for different date formats
    day_month_year = rf'(\b\d{{1,2}})(?:st|nd|rd|th)?(?:\s*of\s*)?\s*{months}\s*[,\s]*\b(\d{{4}})'
    month_day_year = rf'{months}\s*(\b\d{{1,2}})(?:st|nd|rd|th)?\s*[,\s]*\b(\d{{4}})'
    year_month_day = r'(\d{4})[-/.](\d{1,2})[-/.](\d{1,2})'
    symbol = r'(\d{1,2})[-/.](\d{1,2})[-/.](\d{4})'
    short_year_format = r'(\d{1,2})[-/.](\d{1,2})[-/.](\d{2})'
    months_map = {'january': '01', 'february': '02', 'march': '03', 'april': '04','may': '05', 'june': '06', 'july': '07', 'august': '08','september': '09', 'october': '10', 'november': '11', 'december': '12',
                         'jan': '01', 'feb': '02', 'mar': '03', 'apr': '04','jun': '06', 'jul': '07', 'aug': '08', 'sep': '09','oct': '10', 'nov': '11', 'dec': '12'}
    match = re.search(day_month_year, text)
    if match:
        day, month, year = match.groups()
        return f"{int(day):02d}/{months_map[month]}/{year}"
 
    match = re.search(month_day_year, text)
    if match:
        month, day, year = match.groups()
        return f"{int(day):02d}/{months_map[month]}/{year}"
    match = re.search(year_month_day, text)
    if match:
        year, month, day = match.groups()
        return f"{int(day):02d}/{int(month):02d}/{year}"
 
 
    match = re.search(symbol, text)
    if match:
        day, month, year = match.groups()
        return f"{int(day):02d}/{int(month):02d}/{year}"
    return None  # If no date format matched

In [10]:
correct_count = 0
total_count = len(df)
 
# Process each row
for _, row in df.iterrows():
    text = row['Input'] 
    expected_date = row['Expected Output']  
    pred_date = date_extractor(text)
 
    if pred_date == expected_date:
        correct_count += 1
 
# Calculate the percentage of correctly derived dates
accuracy = (correct_count / total_count) * 100
print(f"Accuracy: {accuracy:.2f}%")

Accuracy: 82.00%